  <div class >  
    <a href="/">Photo Movie </a>  
  </div>
  <nav>
    <ul class = "global-nav">
    <% if user_signed_in? %>   
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
    <%end%>
      <li><a href = "/concept">Concept</a></li>
      <li><a href = " /posts">Everyone</a></li>
      <li><a href = " /users/:id">My page</a></li>
    </ul> 
  </nav>
