<body id="index">
    <!-- headerの始まり -->
    <header>
      <div class ="logo">  
       <a href="index.html">Photo Alubum
         
       </a> 
      </div>
      <nav>
        <ul class = "global-nav">
          <li><a href = "#">About</a></li>
          <li><a href = "#">Everyone</a></li>
          <li><a href = "#">My page</a></li>
        </ul> 
      </nav>
    </header>
    <!-- headerの終わり -->

    <!-- wrapの始まり -->
    <div id = "wrap">
     <div class ="content"> 
       <h1>Let's go  adventure !</h1>
     </div>
    <% if user_signed_in? %>      
        <p class="btn"><a href="#">Log out</a></p>
    <% else %>
        <p class="btn"><a href="#">Log in</a></p>
        <a href = "#">Please creative account</a>      
    <% end %>
     
    </div>
     <!-- wrapの終わり -->

    <!-- footerの始まり -->
    <footer>
     <small>(C)2020 DS portfolio</small>  
    </footer>
    <!-- footerの終わり -->
</body>
