<body id="index">
   
    <header>
     <%= render "shared/header" %>
    </header>
   
    
  
    <div id = "wrap">
     <div class ="content"> 
       <h1>Let's go  adventure !</h1>
     </div>
    <% if user_signed_in? %>      
        <p class="btn"><a href="#">Log out</a></p>
    <% else %>
        <p class="btn"><a href="#">Log in</a></p>
        <a href = "#">Please creative account</a>      
    <% end %>
    </div>


  
    <footer>
       <%= render "shared/footer" %>
    </footer>
   
</body>
