<body id="home">
   
    <header>
     <%= render "shared/header" %>
    </header>
   
    
  
    <div id = "wrap">
     <div class ="content"> 
       <h1>Let's post memory !</h1>
     </div>
    <% if user_signed_in? %>      
 
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"btn"%></li>
    <% else %>
        <p class="btn"><a href="/users/sign_in">Log in</a></p>
       <a href = "/users/sign_up">Please creative account</a>        
    <% end %>
    </div>
    <footer>
       <%= render "shared/footer" %>
    </footer>
   
</body>
