 <body id="concept">
   
    <header>
     <%= render "shared/header" %>
    </header>

 <div id="wrap">
    <div class="content">
      <div class="main">
        <h1>Concept</h1>
         <p>実際に見た風景を動画で残しませんか？</p>
        <h2>Every one</h2>
         <p>動画を投稿してみんなと共有しよう。</p>
        <h2>My page</h2>
          <p>お気に入りを保存しよう。</p>
      </div>
         <section>
          <ul>
          
            <iframe width="600" height="400" src="https://www.youtube.com/embed/WE6Byqop8ec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen,></iframe>
          </ul>
        </section> 
    </div>
  </div>

    <footer>
       <%= render "shared/footer" %>
    </footer>
   
</body>
