<body id="posts">
   
  <header>
    <%= render "shared/header" %>
  </header>
  
    <div id = "wrap">
     <div class ="content"> 
       <div class ="main-center">
        <h1>動画投稿フォーム</h1> 
       </div>
     </div>
    </div>

  



  <footer>
      <%= render "shared/footer" %>
  </footer>
  
</body>
